* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root {
    --background: #1F1F1E;
    --primary: #81a684;
    --main-text: #DADFF7;
    --accent: #B76D68;
    --secondary: #b8b3e9;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

/*header section below, so the banner at the top with name of page and nav bar*/

header {
    display: flex;
    position: fixed;
    align-items: center;
    padding: 1%;
    background-image: linear-gradient(100deg, var(--background),var(--accent) 25%, var(--accent),var(--background) 27%,var(--background),var(--accent) 30%, var(--accent), var(--background) 32%, var(--primary) 50%);
    color: var(--main-text);
    border-bottom: .25em;
    border-style: hidden;
    border-color: var(--background);
    width: 100%;
    height: 8em;
}


h1 {
    font-size: 200%;
    justify-content: flex-start;
}

/* for the nav bar links */
nav ul {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 35em;
    padding-top: 15px;
    float: right;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--background);
}

li {
    margin: 40%;
    box-sizing: border-box;
}


/*this is the banner image underneath nav and header*/
.hero {
    width: 100%;
    height: 30em;
    background-image: url(images/columbia-gorge-edit.jpg);
    background-size: cover;
    background-position: center;

}